// COLORS
$black: #090909;
$bg-color: #2F2F2F;
$white: #fefefe;
$white-grey: #d8d8d8;
$grey-intro: #7E7E7E;
$font-color: #e3e3e3;
$title-color: #828282;

// MARGIN & PADDING
$padding: 20px;

// Dimensions
